@charset "UTF-8";
/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
}

/**
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*--скрытый второй загаловок--*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border-radius: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --title-font: "Roboto", sans-serif;
  --container-width: 1200px;
  /*@media screen and (min-width: 1170px)*/
  --mobile-container-width: 480px;
  /*@media screen and (min-width: 480px)*/
  --tablet-container-width: 768px;
  /*@media screen and (min-width: 768px)*/
  --text-title-color: #212121;
  /* цвет заглавий */
  --text-primery-color: #757575;
  /* цвет текста*/
  --white-color: #ffffff;
  --grey-color: #f5f4fa;
  --secondary-accent-color: #2f303a;
  /* вторичный цвет фона*/
  --bg-headline-color: rgba(47, 48, 58, 0.8);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --border-color-for-modal: rgba(33, 33, 33, 0.2);
  --modal-form__input--textarea: rgba(117, 117, 117, 0.502);
  --color-border-email: rgba(255, 255, 255, 0.3);
  --primery-accent-color: #2196f3;
  /* акцент*/
  --secondary-accent-col: #188ce8;
  --header-bottom-border: #ececec;
  --border-card-color: #eeeeee;
  --base-icon-color: #afb1b8;
  --address--link-col: #acacb0;
  --footer-link-bg: #ffffff1a;
  --card-bg-overlay-color: rgba(33, 150, 243, 0.9);
  --linear-gradient-bgi: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grid-num: 3;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff"), url("../fonts/roboto-v27-latin-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin-900.woff") format("woff"), url("../fonts/roboto-v27-latin-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  min-width: 231px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  letter-spacing: 0.03em;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid var(--header-bottom-border);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .header {
    padding: 10px 0;
  }
}

@media screen and (min-width: 767.98px) {
  .header__navigation {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1199.98px) {
  .header__navigation {
    margin-left: 93px;
  }
}

.mobile-menu-btn {
  position: relative;
  z-index: 105;
  padding: 12px 8px;
  display: inline-flex;
  margin-left: auto;
  background-color: transparent;
  border: none;
  transition: color var(--animation);
}

@media screen and (min-width: 767.98px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  color: var(--primery-accent-color);
}

.icon-close {
  display: none;
}

.is-open .icon-close {
  display: block;
  fill: #212121;
}

.is-open .icon-close .icon-close:active {
  fill: #2196f3;
}

.is-open .icon-menu {
  display: none;
}

.mobile-menu__icon {
  width: 24px;
  height: 16px;
  fill: currentColor;
  transition: fill var(--animation);
}

@media screen and (max-width: 767.98px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    padding: 48px 40px;
    background: #ffffff;
    overflow-y: scroll;
    color: var(--main-text-color);
    transition: right var(--animation);
  }
  .mobile-menu.is-open {
    right: 0;
  }
}

@media screen and (min-width: 767.98px) {
  .mobile-menu {
    display: none;
  }
}

.mobile__content {
  flex-direction: column;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {
  .mobile__content {
    font-size: 30px;
  }
}

.mobile-menu__list {
  margin-bottom: 300px;
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {
  .mobile-menu__list {
    margin-bottom: 200px;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: #212121;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--primery-accent-color);
}

.mobile-menu__link--current {
  color: var(--primery-accent-color);
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__item:last-child {
  margin-top: 32px;
}

.mobile-contact__link {
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--animation);
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {
  .mobile-contact__link {
    font-size: 20px;
  }
}

.mobile-contact__link--accent {
  font-size: 34px;
  line-height: 1.8;
  color: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {
  .mobile-contact__link--accent {
    font-size: 25px;
  }
}

.mobile-contact__link:hover, .mobile-contact__link:focus {
  color: var(--primery-accent-color);
}

.mobile-social {
  display: flex;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {
  .mobile-social {
    font-size: 16px;
  }
}

.mobile-social__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item:first-child {
  padding-left: 0;
}

.mobile-social__item:last-child {
  border-right: none;
}

.mobile-social__link {
  color: var(--primery-accent-color);
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--text-title-color);
}

@media screen and (min-width: 1199.98px) {
  .logo {
    font-size: 26px;
  }
}

.logo__footer-page {
  margin-bottom: 20px;
  color: var(--white-color);
}

@media screen and (max-width: 1199.98px) {
  .logo__footer-page {
    margin: 0 auto 20px auto;
  }
}

.logo--accent-collor {
  color: var(--primery-accent-color);
}

@media screen and (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 767.98px) {
  .menu {
    display: flex;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  position: relative;
  display: block;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
  transition: color var(--animation);
}

@media screen and (min-width: 767.98px) {
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu__link:hover, .menu__link:focus {
  color: var(--primery-accent-color);
}

.menu__link:after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  bottom: -1px;
  background-color: transparent;
  transition: background-color var(--animation);
}

.menu__link:hover::after, .menu__link:focus::after {
  background-color: var(--primery-accent-color);
}

.menu__link--current {
  color: var(--primery-accent-color);
  transition: color var(--animation);
}

.menu__link--current::after {
  background-color: var(--primery-accent-color);
}

.menu__link--current:hover, .menu__link--current:focus, .menu__link--current:hover::after, .menu__link--current:focus::after {
  color: var(--secondary-accent-col);
}

@media screen and (max-width: 767.98px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 767.98px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1199.98px) {
  .contact {
    flex-direction: row;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1199.98px) {
  .contact__item + .contact__item {
    margin-left: 50px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--text-primery-color);
  transition: color var(--animation);
}

@media screen and (min-width: 1199.98px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: var(--primery-accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--animation);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--primery-accent-color);
}

.button {
  margin: 0;
  border-width: 0px;
  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--primery-accent-color);
  cursor: pointer;
  transition: background-color var(--animation);
}

.button:hover, .button:focus {
  background-color: var(--secondary-accent-col);
}

.button__footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 29px;
  border: 1px solid var(--primery-accent-color);
}

@media screen and (max-width: 1199.98px) {
  .button__footer {
    margin: auto;
    margin-top: 20px;
  }
}

.button__icon {
  fill: currentColor;
  margin-left: 10px;
}

.button__form {
  display: block;
  margin: auto;
}

/*--------------------backdrop-----------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  opacity: 1;
  transition: opacity var(--animation);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: var(--text-title-color);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  transform-origin: top left;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}

/*================modal-button__close==================*/
.modal-button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
  color: var(--text-title-color);
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color var(--animation), border-color var(--animation) 250ms;
}

.modal-button__close:hover, .modal-button__close:focus {
  color: var(--primery-accent-color);
  border-color: var(--primery-accent-color);
  outline-color: currentColor;
}

.modal-button__icon {
  fill: currentColor;
}

.modal-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  width: 100%;
}

@media screen and (min-width: 767.98px) {
  .modal-form__container {
    min-width: 446px;
  }
}

.modal-form__label,
.element,
.textarea {
  display: block;
  width: 100%;
}

.element + .element {
  margin-top: 10px;
}

/*------------form-heading-------------------*/
.form-heading {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.modal-form__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-primery-color);
}

/*----------------input------------------*/
.modal-form__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: calc(12px + 18px + 12px);
  padding-right: 12px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  color: var(--black-color);
  letter-spacing: 0.01em;
  outline-color: var(--secondary-accent-col);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color-for-modal);
  transition: border-color var(--animation);
}

.modal-form__input--textarea {
  padding: 11px 15px;
  resize: none;
  overflow: hidden;
}

.modal-form__input--textarea::placeholder {
  color: var(--modal-form__input--textarea);
}

.modal-form__input:focus {
  border-color: var(--primery-accent-color);
}

/*------------textarea------------------*/
.form-field {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--primery-accent-color);
}

/*---------------checkbox---------------*/
.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-primery-color);
}

.checkbox__label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: calc(7px + 16px);
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-width: 2px;
  border-style: solid;
  border-color: var(--secondary-accent-color);
  background-color: transparent;
  border-radius: 2px;
  fill: none;
  transition: fill var(--animation), background-color var(--animation), border-color var(--animation);
}

.checkbox_input:hover + .checkbox__icon,
.checkbox_input:focus + .checkbox__icon {
  border-color: var(--primery-accent-color);
  outline-color: var(--primery-accent-color);
}

.checkbox_input:checked + .checkbox__icon {
  background-color: var(--primery-accent-color);
  fill: var(--white-color);
  border: none;
  outline-color: var(--primery-accent-color);
}

.checkbox__link {
  display: inline-block;
  margin-left: 2px;
  color: var(--primery-accent-color);
  text-decoration: underline;
  transition: color var(--animation);
}

.checkbox__link:hover, .checkbox__link:focus {
  color: var(--secondary-accent-col);
  outline-color: currentColor;
}

/*-------------------социальные иконки----------------------*/
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 206px;
}

.social__item {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  height: 44px;
}

.social__item:nth-child(4n) {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--white-color);
  transition: background-color var(--animation);
}

.social__link--bg {
  background-color: var(--footer-link-bg);
}

.social__link:hover, .social__link:focus {
  background: var(--primery-accent-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--base-icon-color);
  transition: var(--animation);
}

.social__icon--col-unchanged {
  fill: var(--white-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--white-color);
}

/*--сетка --*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid-num)) / var(--grid-num));
  margin-left: 30px;
  margin-top: 30px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199.98px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--bg {
  background-color: var(--grey-color);
}

.section--padding-bottom {
  padding-bottom: 60px;
}

@media screen and (min-width: 1199.98px) {
  .section--padding-bottom {
    padding-bottom: 0;
  }
}

.section__title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1199.98px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

/*--заголовки -*/
.heading {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (min-width: 767.98px) {
  .heading {
    text-align: left;
  }
}

.heading--margin {
  margin-bottom: 20px;
}

@media screen and (max-width: 1198.98px) {
  .heading--margin {
    text-align: center;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--secondary-accent-color);
  color: var(--white-color);
  background-image: var(--linear-gradient-bgi), url(../images/hero480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero480@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1600.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1600@2x.jpg);
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.competence__item {
  --grid-num: 1;
}

@media screen and (min-width: 768px) {
  .competence__item {
    --grid-num: 2;
  }
}

@media screen and (min-width: 1200px) {
  .competence__item {
    --grid-num: 4;
  }
}

.competence__item:last-child {
  margin-right: 0;
}

.competence__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  color: var(--text-primery-color);
}

.competence__bg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-color);
  min-height: 120px;
  margin-bottom: 30px;
}

.deckstop-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .deckstop-section {
    display: block;
  }
}

.work__thumb {
  position: relative;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--bg-headline-color);
  color: var(--grey-color);
}

.team__meta {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
}

.team__position {
  margin-bottom: 16px;
  color: var(--text-primery-color);
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  --grid-num: 1;
}

@media screen and (min-width: 768px) {
  .team__item {
    --grid-num: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid-num: 4;
  }
}

.clients__item {
  min-height: 90px;
  --grid-num: 2;
}

@media screen and (min-width: 768px) {
  .clients__item {
    --grid-num: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    --grid-num: 6;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  color: var(--base-icon-color);
  border-color: var(--base-icon-color);
  transition: border-color var(--animation);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--primery-accent-color);
}

.clients__icon {
  fill: currentColor;
  transition: fill var(--animation);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--primery-accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-accent-color);
  color: var(--white-color);
  /*контакты*/
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: left;
  }
}

.footer .footer__address {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer .footer__address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__address {
    text-align: left;
    margin-right: 70px;
  }
}

.footer__contact-link {
  justify-content: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--address--link-col);
}

@media screen and (min-width: 1198.98px) {
  .footer__contact-link {
    justify-content: start;
  }
}

.footer__contact-link:first-child {
  color: var(--white-color);
}

.footer__contact-link:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1198.98px) {
  .footer__contact-link:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    align-items: flex-start;
    margin-top: 12px;
  }
}

.footer__email-form {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__email-form {
    margin-top: 60px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__email-form {
    margin-top: 12px;
    text-align: left;
    margin-left: auto;
    width: 50%;
  }
}

.email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1199.98px) {
  .email-form {
    flex-direction: row;
    justify-content: space-between;
  }
}

.email__input {
  color: currentColor;
  background-color: transparent;
  padding: 15px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-border-email);
  outline-color: var(--color-border-email);
  border-radius: 4px;
  max-width: 450px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  transition: border-color var(--animation);
  transition: outline-color var(--animation);
}

@media screen and (min-width: 1199.98px) {
  .email__input {
    width: 358px;
    margin-right: 12px;
  }
}

.email__input:hover, .email__input:focus {
  border-color: var(--primery-accent-color);
  outline-color: var(--primery-accent-color);
}

.email__input::placeholder {
  color: var(--address--link-col);
}

/*--кнопки-фильтры со страницы "portfolio"--*/
.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 767.98px) {
  .filter {
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    min-width: 611px;
  }
}

@media screen and (min-width: 1199.98px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
}

@media screen and (min-width: 320px) and (max-width: 390px) {
  .filter__item:nth-last-child(-n + 3) {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .filter__item:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
}

.filter__item:nth-child(5n) {
  margin-right: 0px;
}

.filter__button {
  border-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-title-color);
  background-color: var(--grey-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  box-shadow: transparent;
  transition: color var(--animation);
  transition: background-color var(--animation);
  transition: box-shadow var(--animation);
}

.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--primery-accent-color);
  box-shadow: var(--button-shadow);
}

.gallery__item {
  --grid-num: 1;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    --grid-num: 2;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    --grid-num: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .gallery__item:first-child .product__meta {
    min-height: 146px;
  }
}

.product__link {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  transition: box-shadow var(--animation);
}

.product__link:hover, .product__link:focus {
  box-shadow: var(--portfolio-box-shadow);
}

.product__meta {
  border-bottom: 1px solid var(--border-card-color);
  border-right: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
  padding: 20px 24px;
  letter-spacing: 0.03em;
}

.product__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}

.product__type {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  color: var(--text-primery-color);
}

.product__img {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--card-bg-overlay-color);
  transform: translateY(103%);
  transition: transform var(--animation);
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */