.modal-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 370px;

  width: 100%;

  @media screen and (min-width: 320px) and (max-width: 479.98px) {
    min-width: 240px;
  }

  @media screen and (min-width: 479.98px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1199.98px) {
    min-width: 448px;
  }
}

.modal-form__label,
.element,
.textarea {
  display: block;
  width: 100%;
}

.element + .element {
  margin-top: 10px;
}
/*------------form-heading-------------------*/
.form-heading {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.modal-form__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-primery-color);
}
/*----------------input------------------*/
.modal-form__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: calc(12px + 18px + 12px);
  padding-right: 12px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  color: var(--black-color);
  letter-spacing: 0.01em;

  outline-color: var(--secondary-accent-col);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color-for-modal);
  transition: border-color var(--animation);

  &--textarea {
    padding: 11px 15px;
    resize: none;
    overflow: hidden;
  }

  &--textarea::placeholder {
    color: var(--modal-form__input--textarea);
  }

  &:focus {
    border-color: var(--primery-accent-color);
  }
}
/*------------textarea------------------*/

.form-field {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition: fill var(--animation);

  .modal-form__input:focus + & {
    fill: var(--primery-accent-color);
  }
}

/*---------------checkbox---------------*/
.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.14;
  color: var(--text-primery-color);
  @media screen and (min-width: 320px) and (max-width: 479.98px) {
    text-align: center;
  }

  @media screen and (min-width: 1199.98px) {
    text-align: center;
    font-size: 14px;
  }
}

.checkbox__label {
  position: relative;

  cursor: pointer;
  padding-left: calc(7px + 16px);
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-width: 2px;
  border-style: solid;
  border-color: var(--secondary-accent-color);
  background-color: transparent;
  border-radius: 2px;
  fill: none;
  transition: fill var(--animation), background-color var(--animation),
    border-color var(--animation);

  .checkbox_input:hover + &,
  .checkbox_input:focus + & {
    border-color: var(--primery-accent-color);
    outline-color: var(--primery-accent-color);
  }

  .checkbox_input:checked + & {
    background-color: var(--primery-accent-color);
    fill: var(--white-color);
    border: none;
    outline-color: var(--primery-accent-color);
  }
}

.checkbox__link {
  color: var(--primery-accent-color);
  text-decoration: underline;
  transition: color var(--animation);

  @media screen and (min-width: 320px) and (max-width: 479.98px) {
    display: block;
  }

  @media screen and (min-width: 1199.98px) {
    display: inline-block;
    margin-left: 2px;
  }

  &:hover,
  &:focus {
    color: var(--secondary-accent-col);
    outline-color: currentColor;
  }
}
