.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-accent-color);
  color: var(--white-color);

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      justify-content: left;
    }
  }

  .footer__address {
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-right: 70px;
    }
  }

  /*контакты*/
  &__contact-link {
    justify-content: center;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.71;
    padding: 0;
    color: var(--address--link-col);
    @media screen and (min-width: 1198.98px) {
      justify-content: start;
    }

    &:first-child {
      color: var(--white-color);
    }

    &:not(:last-child) {
      margin-bottom: 8px;
      @media screen and (min-width: 1198.98px) {
        margin-bottom: 9px;
      }
    }
  }
}

.footer__social {
  display: flex;
  flex-direction: column;

  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-top: 12px;
  }
}

.footer__email-form {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    text-align: left;
    margin-left: auto;
    width: 50%;
  }
}

.email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1199.98px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.email__input {
  color: currentColor;
  background-color: transparent;
  padding: 15px 16px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--color-border-email);
  outline-color: var(--color-border-email);
  border-radius: 4px;
  max-width: 450px;
  width: 100%;

  font-size: 16px;
  line-height: 1.25;
  @include transition(border-color);
  @include transition(outline-color);

  @media screen and (min-width: 1199.98px) {
    width: 358px;
    margin-right: 12px;
  }

  &:hover,
  &:focus {
    border-color: var(--primery-accent-color);
    outline-color: var(--primery-accent-color);
  }

  &::placeholder {
    color: var(--address--link-col);
  }
}
