.team {
  &__meta {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: inherit;
  }

  &__position {
    margin-bottom: 16px;
    color: var(--text-primery-color);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);

    --grid-num: 1;

    @media screen and (min-width: 768px) {
      --grid-num: 2;
    }
    @media screen and (min-width: 1200px) {
      --grid-num: 4;
    }
  }
}
